body{
  margin: 0px;
  background-image: url("NU.jpeg");
  font-family: "Alegreya SC", serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-style: normal;
  overflow: hidden;
}

h1{
  text-align: left;
  color: white;
  padding: 0px;
  margin: 0px;
  
}
.navbar ul{
  list-style-type: none;
  background-color: rgb(54,64,142);
  padding:0px;
  margin: 0px;
  overflow: hidden;
  margin-bottom: 20px;
}
.header-NU{
  padding: 0px;
  background-color: rgb(211, 211, 72);
  font-size: 120%;
  padding-left: 20px;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 20px;
  display: block;
}

.navbar a:hover{
  background-color: rgb(31, 33, 119);
}

.navbar li{
  float: right;
  padding-right: 4%;
}

.login-header {
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-left: 3%;
}

.log-a {
  color: rgb(0, 0, 104);
  font-size: 30px;
  width: 350px;
  margin-left: 150px;
  font-family: "Alegreya SC", serif;
  font-weight: 800;
}

.login-form{
  background-color: grey;
  width: 30%;
  height: 500px;
  border-radius: 25px;
  margin-left: 40px;
  padding: 100px;
  background: linear-gradient(to left, #ff9900 0%, #ffff66 100%);
  background-blend-mode: luminosity;
}




.form{
  width: 80%;
  margin:auto;
  text-align: center;

}

.form h3{
  margin: 15px 0;
  font-size: 30px;
}

.form input{
  width: 100%;
  padding: 13px;
  font-size: 15px;
  margin-bottom:20px;
  border-radius: 10px;
  border: 2px solid #646464;
  
  outline:none;
}

.form button{
  width: 50%;
  padding: 13px;
  font-size: 15px;
  margin-bottom:20px;
  border-radius: 2px;
  border: 2px solid #646464;
  
  outline:none;
  background-color: #e9ec13;
  cursor:pointer;
  text-align: center;
}

.form button:hover{
  background-color: #c08549;
}

.back-header{
  background-color: rgb(54,64,142);
  font-size: 30px;
  padding-left: 3%;
  color: white;

}